* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4d4f6d;
    --secondary-color: #3f4263;
    --accent-color: #ffd344;
    --accent-transparent-color: #ffe285;
    --unactive-color: #a9a9a9;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --color: #df5b4d;
}

* {
    font: 14px arial, sans-serif;
}


main {
    display: flex;
}

h1 {
    font-size: 25px;
}

.hidden {
    display: none;
}

.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    gap: 20px;
    height: 100vh;
    text-decoration: none;
    color: white;
    position: relative;
}

.sidebar-toggle {
    font-size: 25px;
    height: 50px;
    background-color: var(--secondary-color);
    border-color: transparent;
    color: var(--unactive-color);
    cursor: pointer;
}

.period-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 8%;
}

.period-section h3 {
    margin: 0.5em;
    font: var(--headers);
}

.month-select, .year-select {
    border-radius: 10px;
    padding: 0 1em;
    height: 2.5em;
    width: 100%;
    cursor: pointer;
    background-color: #3f4263;
    border: 0px;
    color: var(--light-text-color);
}

.sidebar-divider {
    height: 1px;
    margin: 10px 0px;
    background-color: var(--unactive-color);
    opacity: 20%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-item {
    text-decoration: none;
    color: var(--unactive-color);
    padding: 1em 1.5em;
    width: 100%;

}

.nav-item:hover {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}

.nav-item.active {
    background-color: var(--secondary-color);
    border-left: 3px solid var(--accent-color);
    color: var(--light-text-color);
}

/* main content */

/* projects*/

/* header */

.content-wrapper {
    display: flex;
    width: 100%;
    padding: 2em;
}

.projects-content {
    display: flex;
    flex: 1;
    background-color: #ffffff;
    flex-direction: column;
    gap: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 1em 0;
}

button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 5px;
    padding: 0.3em 1em;
    border-color: transparent;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-transparent-color);
}

#add-project {
    margin-left: auto;
}

table {
    box-shadow: rgba(0, 0, 0, 0.078) 0px 0px 30px;
    border-collapse: collapse;
}

thead {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

th {
    padding: 1em 5px;
}

.sorting-icon {
    margin: 0 0.5em;
    cursor: pointer;
}

.search-icon {
    cursor: pointer;
    font-size: 1.4em;
}

.sorting-icon:hover, .search-icon:hover {
    color: var(--accent-color);
}

tr {
    box-shadow: inset 0 -1px 0 0 #dddddd;
}

td {
    text-align: center;
    padding: 1em 5px;

}

.project-delete-button {
    background-color: var(--color);
}

.show-employees-button {
    background-color: var(--accent-color);
    color: var(--dark-text-color);
}

.total {
    font-weight: 600;
    font-size: 1.3em;
}

.total-note {
    font-size: 1em;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
}

.negative-income {
    color: var(--color)
}